.wrapper {
  display: flex;
  flex-direction: row;
}

.selectedBg {
  background-color: slategray;
}

.label {
  flex: 4;
}

.modify {
  flex: 1;
}

.delete {
  flex: 1;
}

.buttonWrapper {
  position: relative;
}

.button {
  position: fixed;
  text-align: left;
  margin-left: 1rem;
  top: 28rem;
}
