.wrapper {
  display: flex;
  flex-direction: row;

  padding: 10rem;
}

.leftWrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.rightWrapper {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.rightHeaderWrapper {
  display: flex;
  flex-direction: row;
}

.rightHeaderHeadLabel {
  flex: 4;
  border: 1px solid blue;
}
